$primary:       rgb(190, 32, 46);
$secondary:     rgb(179, 175, 172);
$success:       rgba(75,175,7, 1);
$background:    rgba(250, 251, 252, 1);
$info:          rgb(225, 233, 214);
$warning:       rgba(201,169,56, 1);
$danger:        rgba(201,73,73, 1);
$light:         rgb(230, 230, 230);
$dark:          rgba(1, 1, 1, 1);



#makesfStats {
    
}